{% extends "basic_not_logged.html" %}
{% block title %}Chyba{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <article>
        <div class="container">
            <div class="page-header">
                <img src="/public/img/logo.svg" class="responsive error-img" alt="chyba" />
                <h1>Nastala chyba</h1>
            </div>
            <p class="lead">{{data}}</p>
            <p>Pokud nebudete do tří sekund přesměrováni klikněte na <a href="/">tento odkaz</a>.</p>
        </div>
		
    </article>
	  <script>
        /*setTimeout(function() {
        window.location.replace("/"); 
        }, 3000);  */
         
    </script>
{% endblock %}
