<!DOCTYPE html>
<html lang='cs'>
  <head>
    <title>Registrace</title>
    <meta charset='utf-8'>
    <meta name='description' content=''>
    <meta name='keywords' content=''>
    <meta name='author' content=''>
    <meta name='robots' content='all'>
    <!-- <meta http-equiv='X-UA-Compatible' content='IE=edge'> -->
    <link href='/favicon.png' rel='shortcut icon' type='image/png'>
    
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>  
    <article>
        <div class="container">
            <div class="page-header">
                <img src="/public/img/logo.svg" class="responsive error-img" alt="chyba" />
                <h1>Nastala chyba</h1>
            </div>
            <p class="lead">{{message}}</p>
            <p>Pokračujte na <a href="/">Úvodní stránku</a></p>
        </div>
    </article>
    <footer>
      <p class="white" id = "footer-text">Created by Jan Dvorak</p>
    </footer>
  
  
  <script src="public/js/bootstrap.min.js"></script>
  </body>
</html>