{% extends "basic_template.html" %}
{% block title %}Úvod{% endblock %}


{% block scripts %}
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
{% endblock %}


{% block content %}
<article ng-app = "app">
        <h2>Nejnovější úlovky</h2>
        {% import "trophy_macro.html" as trophyMac %}
        {% for trophy in data.trophies %}
            {{trophyMac.trophyNormal(trophy, data.user.id)}}
        {% endfor %}
		
		<script>
			angular.module('app', [])
			{% for trophy in data.trophies %}
            {{trophyMac.angularTrophy(trophy)}}
        	{% endfor %}
			;
		</script>
    </article>
{% endblock %}