<!DOCTYPE html>
<html lang='cs'>
  <head>
    <title>Přihlášení</title>
    <meta charset='utf-8'>
    <meta name='description' content=''>
    <meta name='keywords' content=''>
    <meta name='author' content=''>
    <meta name='robots' content='all'>
    <!-- <meta http-equiv='X-UA-Compatible' content='IE=edge'> -->
    <link href='/favicon.png' rel='shortcut icon' type='image/png'>
    
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">
    <script src="/public/js/md5.js"></script>
    <script src="/public/js/jquery-1.11.1.min.js"></script>
  </head>
  <body>      
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img class='navbar-brand' src = "/public/img/logo.svg" alt = "Logo"></a><a id="brand" class="navbar-brand" href="/">TrophyShare</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" id="login-form2" action="/login" method="POST" role="form">
            <div class="form-group">
              <input type="text" name="nickname" id="nickname2" required placeholder="Přezdívka" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="pwd" id="pwd2" required placeholder="Heslo" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Přihlásit se</button>
              <a href="/register" class="btn btn-primary">Registrovat</a>
          </form>
            
        </div><!--/.navbar-collapse -->
    </nav>
    <article>
        {% if data != null %}
        <div class="alert alert-danger alert-dismissible" role="alert">{{data}}<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>
        {% endif %}
        <h1>Přihlášení</h1>
        <form role="form" id="login-form1" action="/login" method="POST">
        <div class="form-group">
          <label for="nickname1">Přezdívka:</label>
          <input type="text" class="form-control" id="nickname1" name="nickname" placeholder="Zadejte přezdívku" required/>
        </div>
        <div class="form-group">
            <label for="pwd1">Heslo</label>
          <input type="password" class="form-control" id="pwd1" name="pwd" placeholder="Zadejte heslo" required/>
        </div>
        <button type="submit" class="btn btn-primary">Přihlásit se</button>
        </form>
        <script>
            var form1 = document.getElementById('login-form1');
            var form2 = document.getElementById('login-form2');
            
            $("#login-form1").submit(function( event ) {
                var p = document.createElement("input");
                var pwd = document.getElementById('pwd1');
                    form1.appendChild(p);
                    p.name = "p";
                    p.type = "hidden";
                    p.value = md5(pwd.value);
                    pwd.value = "";
                return true;
                
            });
            
            $("#login-form2").submit(function( event ) {
                var p = document.createElement("input");
                var pwd = document.getElementById('pwd2');
                    form2.appendChild(p);
                    p.name = "p";
                    p.type = "hidden";
                    p.value = md5(pwd.value);
                    pwd.value = "";
                return true;
                
            });
        </script>
    </article>
    <footer>
      <p class="white" id = "footer-text">Created by Jan Dvorak</p>
    </footer>
  
  
  <script src="/public/js/bootstrap.min.js"></script>
  </body>
</html>