{% extends "basic_template.html" %}
{% block title %}Profil{% endblock %}


{% block scripts %}
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
{% endblock %}


{% block content %}
<article>
        <div id="profil">
            <img class="img-responsive thumbnail" src="/public/img/profile-pic/{{data.uData.img}}"/>
            <h1>{{data.uData.nick}} 
                {% if data.canEdit == true %}
                <a href="/profile/edit"><span class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
            
            </h1>
            <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td><b>Jméno</b></td>
                      <td>{{data.uData.firstName}}</td>
                        <td><b>Příjmení</b></td>
                      <td>{{data.uData.lastName}}</td>
                    </tr>
                    <tr>
                        <td><b>Web</b></td>
                      <td><a href="{{data.uData.web}}">{{data.uData.web}}</a></td>
                        <td><b>Email</b></td>
                      <td>{{data.uData.email}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Místní organizace</b></td>
                        <td colspan="2"><a href="/mo/id/{{data.uData.moId}}">{{data.uData.mo}}</a></td>
                    </tr>
                  </tbody>
                </table>
            <p><a href="/user/trophies/{{data.uData.id}}">Všechny úlovky</a></p>
            <h2>Nejlepší úlovek</h2>
            {% if data.trophy is empty%}
                 <span>Tento uživatel ještě nenahrál žádný úlovek.</span>
            {% else %}
				<span ng-app = "app">
					{% import "trophy_macro.html" as trophyMac %}
					{{trophyMac.trophyNormal(data.trophy, data.user.id)}}
					<script>
						angular.module('app', [])
						{{trophyMac.angularTrophy(data.trophy)}}
						;
					</script>
				</span>
            {% endif %}
        </div>
        
    </article>
{% endblock %}