<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
	<meta name="Author" content="Jan Dvořák"/>
</head>
<body>

    <div>
        <p>{{url}}</p>
        <p>{{debug}}</p>
        
        <form action="upload" method="post" enctype="multipart/form-data">
            <table>
                <tbody>
                    <tr>
                        <td>Select image to upload:</td>
                        <td><input type="file" name="fileToUpload" id="fileToUpload"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" value="Nahrát obrázek" name="submit"></td>
                    </tr>
                </tbody>
            </table>
        </form>
        
    </div>
</body>
</html>
